.loginAnchor {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.headerRow {
    margin-right: 0;
    margin-left: 0;
}


#wrapper {
    min-height: 100%;
    position: relative;
}

.no-padding-top {
    padding-top: 0;
}
