
@{
    ViewBag.Title = "Landing";
    Layout = "~/Views/Shared/_LayoutAdminSimple.cshtml";
}
<div class="content" style="text-align:center">
    <h2>stateside</h2>
    <img src="~/Content/admin.assets/images/helping.jpg" alt="App Name"
         class="img-responsive wow lightSpeedIn animated" data-wow-duration="1500ms" viewbox=" 0 0 20 20" />
    <p>Continue to be the Heros at home</p>
    <p>Make Missions for your friends and family</p>
    <p>Get together with your fellow service members to create a better community</p>
    <a href="/home/registration" role="button" class="btn green-btn btn-large">Sign Up</a>
    <a href="/Home/login" role="button" class="btn green-btn btn-large">Log In</a>
</div>


