
@{
    ViewBag.Title = "Landing";
    Layout = null;
}

<link href="~/Content/admin.assets/css/vendor/bootstrap.css" rel="stylesheet">
<link href="~/Content/admin.assets/css/app/custom.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        .img-responsive {
            max-width: 60%;
            display: inline-block;
            margin-top: 14px;
        }
        h2 {
            font-size: 43px;
        }
        .content {
            text-align: center;
            background-color: lightgray;
            width: 90%;
            height: 90%;
            border-radius: 30px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 5%;
            position: absolute;
            font-family: 'Raleway', sans-serif;
        }
        body {
            margin: 0px;
            background-color: darkgray;
        }
        .bottom {
            position: absolute;
            bottom: 3vh;
            width:  100%;
            
        }
    </style>

<div>
    <div class="content">
        <img src="/Content/admin.assets/images/logos_dogtags_e.png" alt="stateside" class="img-responsive">
        <h2 style="font-size: 9vh;">stateside</h2>



        <div class="bottom">
            <p style="margin: 10px;font-size: 3vh;">Create missions for fellow service members for a better community!</p>

            <a href="/home/registration" role="button" class="btn green-btn btn-large" style="width: 90%; margin-bottom: 10px;font-size: 3vh;">Sign Up</a>

            <a href="/Home/login" role="button" class="btn green-btn btn-large" style="width: 90%;font-size: 3vh;">Log In</a>
        </div>

    </div>
</div>


