
@{
    ViewBag.Title = "Landing";
    Layout = null;
}

<link href="~/Content/admin.assets/css/vendor/bootstrap.css" rel="stylesheet">
<link href="~/Content/admin.assets/css/app/custom.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        .img-responsive {
            max-width: 60%;
            display: inline-block;
            margin-top: 14px;
        }
        h2 {
            font-size: 43px;
        }
        .content {
            text-align: center;
            background-color: lightgray;
            width: 49vh;
            height: 94vh;
            border-radius: 9px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            font-family: 'Raleway', sans-serif;
        }
        body {
            margin: 0px;
            background: transparent url("/Content/admin.assets/images/test.png") no-repeat scroll center top;
        }
        .bottom {
            position: absolute;
            bottom: 10px;
            
        }
    </style>


<div class="content">
    <img src="/Content/admin.assets/images/logos_dogtags_e.png" alt="stateside" class="img-responsive">
    <h2>stateside</h2>
    

    
    <div class="bottom">
        <p style="margin: 10px;">Create missions for fellow service members for a better community!</p>

        <a href="/home/registration" role="button" class="btn green-btn btn-large" style="width: 90%; margin-bottom: 10px;">Sign Up</a>

        <a href="/Home/login" role="button" class="btn green-btn btn-large" style="width: 90%;">Log In</a>
    </div>
    
</div>


