@model Sabio.Web.Models.ViewModels.ItemViewModel<int>

@{
    ViewBag.title = "Missions";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/admin.assets/css/app/rotating-cards.css" rel="stylesheet" />
<link href="~/Content/admin.assets/css/app/custom.css" rel="stylesheet" />
<div id="loading">
    <img src="~/Content/admin.assets/images/logos_dogtags_e.png" style="width: 76px;"></img>
</div>


<div id="mission-wrapper" class="hide" style="width: 90%; margin: 0px auto;">

</div>


@section Scripts{
    <script id="entry-template" type="text/x-handlebars-template">
        <h1 style="text-align: center;">Mission: {{title}} </h1>
        <div class="card-container manual-flip">
            <div class="card">
                <div class="front">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>When</td>
                                <td>{{date}}</td>
                            </tr>
                            <tr>
                                <td>Where</td>
                                <td id="">{{location}}</td>
                                <td onclick="rotateCard(this)">
                                    <i class="fa fa-search"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td><p>{{bodyOne}}</p><p id="body-2" class="collapse">{{bodyTwo}}</p><a data-toggle="collapse" data-target="#body-2">Show More</a></td>
                            </tr>
                            <tr>
                                <td>Duration</td>
                                <td>2 Days</td>
                            </tr>
                            <tr>
                                <td>Helpers</td>
                                <td>
                                    <div class="col-xs-6 " style="text-align:center">
                                        <img src="/Content/admin.assets/images/people/50/woman-6.jpg" style="height:50px;width:50px; border-radius: 25px;" />   Gema
                                    </div>

                                    <div class="col-xs-6" style="text-align:center">
                                        <img src="/Content/admin.assets/images/people/50/guy-9.jpg" style="height:50px;width:50px; border-radius: 25px;" />   Jim
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        <div id="enlist-btn" role="button" class="enlist-btn btn green-btn btn-large margin-right">Enlist</div>
                        <a href="/Home/mapmore" role="button" class="btn red-btn btn-large">See More Missions</a>
                    </div>

                </div>
                <div class="back">
                    <div id="map-hide" style='overflow:hidden;height:400px;width:100%;'>
                        <div id='gmap_canvas' style='height:400px;width:100%'></div>
                    </div>
                    <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)" style="color:black; margin-bottom: -10px;">
                        <i class="fa fa-reply"></i> Back
                    </button>
                </div>
            </div>
        </div>

    </script>


    <script type="text/javascript">
        var MISSION_INFO = @Html.RawJson(Model);
        ;

        $(document).ready(function () {
            console.log(MISSION_INFO);
            var $loading = $('#loading');
            var $missionWrapper = $('#mission-wrapper');
            var source = $("#entry-template").html();
            var template = Handlebars.compile(source);


            var context = getMission();

            var html = template(context);

            $missionWrapper.append(html);
            $missionWrapper.removeClass('hide');
            $loading.hide();

            $('#enlist-btn').on("click touch", enlistToMission);


            $('[rel="tooltip"]').tooltip();

        });

        function getMissionById(missionId, getMission, onError) {
            var apiLink = apiRoot + "/" + missionId;
            var settings = {
                cache: false
                    , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
                    , data: missionId
                    , dataType: "json"
                    , success: onSuccess
                    , error: onError
                    , type: "GET"
            };
            this.ajax(apiLink, settings);
        }

        var getMission = function (data) {

            return { date: "Friday Sept 23th, 15:00",
                location: "6577 S Copperwood Ave, Inglewood CA, 90302",
                title: "Build a Treehouse",
                bodyOne: "My budy Pete is a Veteran who's building a treehouse for his kids.",
                bodyTwo: "Lets get together and help him out. Beer and Pizza provided!"};

        }

        var enlistToMission = function () {
            window.location.href = '/home/mapApproved'

        }



        function rotateCard(btn) {
            var $card = $(btn).closest('.card-container');
            console.log($card);
            if ($card.hasClass('hover')) {
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }
    </script>


    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBYqzwyH6H-CRc3N3aIyD966wjokFIALUI'></script>
    <script type='text/javascript'>
        function init_map(){var myOptions = {zoom:12,center:new google.maps.LatLng(33.9808287,-118.3771056),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(33.9808287,-118.3771056)});infowindow = new google.maps.InfoWindow({content:'<strong>Build a Treehouse</strong><br>6577 S Copper Ave,<br>Inglewood, 90302<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
}

