
@{
    //ViewBag.Title = "MissionCreate";
    Layout = "~/Views/Shared/_LayoutAdminSimple.cshtml";
}

<body>

  <!-- Wrapper required for sidebar transitions -->
  <div class="st-container">

    <!-- content push wrapper -->
    <div class="st-pusher">
 
      <!-- this is the wrapper for the content -->
      <div class="st-content" id="content">

        <!-- extra div for emulating position:fixed of the menu -->
        <div class="st-content-inner">

          <div class="container-fluid">

            <div>  @*had a page section class*@
              <div class="row">
                <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                  @*<h4 class="page-section-heading">Input controls</h4>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label">Input</label>
                          <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Type here..">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Textarea</label>
                          <div class="col-sm-9">
                            <textarea class="form-control" rows="5"></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Add-On</label>
                          <div class="col-sm-9">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-user"></i></span>
                              <input type="text" class="form-control" placeholder="Username">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Input Button</label>
                          <div class="col-sm-9">
                            <div class="input-group">
                              <input type="text" class="form-control">
                              <span class="input-group-btn">
                                        <button class="btn btn-inverse" type="button">Go!</button>
                                    </span>
                            </div>

                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Color Picker</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control minicolors" data-defaultValue="#25ad9f">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Disabled</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Disabled input" disabled>
                          </div>
                        </div>
                        <div class="form-group margin-none">
                          <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>*@


                  <h4 class="page-section-heading">Create a Mission</h4>
                  <div class="panel panel-default">
                    <div class="panel-body">

                      <h5>Title</h5>
                      <div class="form-group">
                            @*<label for="inputEmail3">Input</label>*@
                           
                                <input type="text" class="form-control" id="inputTitle" placeholder="Type here..">
                         
                        </div>

                      <h5>Description</h5>
                      <div class="form-group">
                            @*<label class="col-sm-3 control-label">Textarea</label>*@
                           
                                <textarea class="form-control" id="inputDescription" rows="5"></textarea>
                           
                        </div>

                        <h5>Address</h5>
                      <div class="form-group">
                            @*<label for="inputEmail3">Input</label>*@
                            <div>
                                <input type="text" class="form-control" id="inputStreet" placeholder="Type here..">
                            </div>
                        </div>

                        <h5>City</h5>
                        <div class="form-group">
                            @*<label for="inputEmail3">Input</label>*@
                            <div>
                                <input type="text" class="form-control" id="inputCity" placeholder="Type here..">
                            </div>
                        </div>

                        <div class="col-xs-6 no-padding-left">
                            <h5>State</h5>
                            <div class="form-group" id="inputState">
                                <select style="width: 100%;" data-toggle="select2">
                                    <optgroup label="Alaskan/Hawaiian Time Zone">
                                        <option value="AK">Alaska</option>
                                        <option value="HI">Hawaii</option>
                                    </optgroup>
                                    <optgroup label="Pacific Time Zone">
                                        <option value="CA">California</option>
                                        <option value="NV">Nevada</option>
                                        <option value="OR">Oregon</option>
                                        <option value="WA">Washington</option>
                                    </optgroup>
                                    <optgroup label="Mountain Time Zone">
                                        <option value="AZ">Arizona</option>
                                        <option value="CO">Colorado</option>
                                        <option value="ID">Idaho</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="UT">Utah</option>
                                        <option value="WY">Wyoming</option>
                                    </optgroup>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TX">Texas</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="WI">Wisconsin</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="IN">Indiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="OH">Ohio</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6 no-padding-right">
                            <h5>Zip Code</h5>
                            <div class="form-group">
                                @*<label for="inputEmail3">Input</label>*@

                                <input type="text" class="form-control" id="inputzipcode" placeholder="Type here..">

                            </div>
                        </div>

                        <div class="col-xs-6 no-padding-left">
                            <h5>Start Date</h5>
                            <div class="form-group">
                                <input id="datepickerstart" type="text" class="form-control datepicker">
                            </div>
                        </div>

                        <div class="col-xs-6 no-padding-right">
                            <h5>End Date</h5>
                            <div class="form-group">
                                <input id="datepickerend" type="text" class="form-control datepicker">
                            </div>
                        </div>

                            <h5>Soldiers Needed</h5>
                            <div class="form-group" id="inputState">
                                <select style="width: 100%;" data-toggle="select2">

                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="other">Other</option>

                                </select>
                            </div>
                  
                            <h5>Tagging Support</h5>
                            <div class="form-group">
                                <input id="inviteEmail" type="hidden" data-toggle="select2-tags" data-tags="Gema,Yushi,Varr,Kayla" style="width: 100%;" 
                                       value="gramila65@gmail.com, yushigomi@gmail.com, varr123@mailinator.com, kayla123@mailinator.com" />
                            </div>

                        <div class="panel-body buttons-spacing-vertical" style="float:right">
                            <button class="btn green-btn" id="submitButton"><i class="fa fa-check-circle"></i> Submit</button>
                            <button class="btn red-btn"><i class="fa fa-times"></i> Cancel</button>

                        </div>
                        
                        </div>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- /st-content-inner -->

      </div>
      <!-- /st-content -->

    </div>
    <!-- /st-pusher -->

    <!-- Footer -->
    @*<footer class="footer">
      <strong>ThemeKit</strong> v4.0.0 &copy; Copyright 2015
    </footer>*@
    <!-- // Footer -->

  </div>
  <!-- /st-container -->



  <!-- Vendor Scripts Bundle -->

    <script src="~/Content/admin.assets/js/vendor/all.js"></script>

    <script src="~/Content/admin.assets/js/app/app.js"></script>


</body>

@section Scripts{
    <script src="~/Scripts/stateside.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYqzwyH6H-CRc3N3aIyD966wjokFIALUI&callback=initMap">
</script>
    <script src="~/Scripts/stateside.services.invite.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        

        stateside.page.startUp = function () {
            console.log("jQuery success");
            $('#submitButton').on('click', stateside.page.handlers.handleSubmitForm);
            $('#datePickerEnd').datepicker();
            $('#datePickerStart').datepicker();
        }

        stateside.page.handlers.handleSubmitForm = function (evt) {
            evt.preventDefault();
            var geocoder = new google.maps.Geocoder()

            var model = {};

            model.Title = $('#inputTitle').val();
            model.Description = $('#inputDescription').val();
            model.Address = $('#inputStreet').val(); 
            model.State = $('#inputState').val();
            model.City = $('#inputCity').val();
            model.ZipCode = $('#inputzipcode').val();
           // model.End = $('#datePickerEnd').datepicker("getDate");
            //model.Start = $('#datePickerStart').datepicker("getDate");
            model.Organizer = "Kayla";
            model.BeneficiaryString = "Amie";

            codeAddress(geocoder, model, createMission)


        }
        stateside.page.inviteSuccess = function () {
            console.log("register success");
        }
        stateside.page.inviteError = function () {
            console.log("register error");
        }


        var createMission = function (missionData, onSuccess, onError) {
            var apiLink = '/api/events';
            var settings = {
                cache: false
                    , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
                    , data: missionData
                    , dataType: "json"
                    , success: onSuccess
                    , error: onError
                    , type: "POST"
            };
            $.ajax(apiLink, settings);
        }

        var codeAddress = function (geocoder, data, callback) {

            //In this case it gets the address from an element on the page, but obviously you  could just pass it to the method instead
            var address = document.getElementById('inputStreet').value;

            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {

                    //In this case it creates a marker, but you can get the lat and lng from the location.LatLng
                    var array = [results[0].geometry.location.lat(), results[0].geometry.location.lng()];

                    data.Latitude = array[0];
                    data.Longitude = array[1];


                    callback(data, onCreateSuccess, errorCreateMission);

                } else {
                    return false;
                                }
            });
        }

        var onCreateSuccess = function (data) {
            var data = { emails: $('#inviteEmail').val().split(',') };
            //stateside.services.invite.send(data, stateside.page.inviteSuccess, stateside.page.inviteSuccess)

        }

        var errorCreateMission = function () {
            console.log('error');

        }
    </script>
    
}