
@{
    //ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayoutAdminSimple.cshtml";
}

<body class="login no-padding-top">
    <div class="container-fluid">
        @*<div class="brand-logo">
                <i class="fa fa-pencil"></i>
            </div>*@
        <div class="row">
            <h1>Create a new account</h1>
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @*<div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                *Please complete all required fields
                            </div>*@
                        <!-- Signup -->
                        <form role="form" action="index.html" id="registrationForm">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name" name="FirstName">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name" name="LastName">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" name="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" name="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password Confirmation">
                            </div>
                            <div class="form-group text-center">
                                <div class="checkbox">
                                    <input type="checkbox" id="agree" />
                                    <label for="agree">* I Agree with <a href="#">Terms &amp; Conditions!</a></label>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="index.html" id="registerButton" class="btn" style="background-color:#AF473C; color: #ffffff"> Create an Account</a>
                            </div>
                        </form>
                        <!-- //Signup -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/stateside.js"></script>
    <script src="~/Scripts/stateside.services.signUp.js"></script>
    <script type="text/javascript">
        stateside.page.startUp = function () {
            console.log("jQuery success");
            $('#registerButton').on('click', stateside.page.handlers.handleSubmitForm);
        }
        stateside.page.handlers.handleSubmitForm = function(evt) {
            evt.preventDefault();
            if ($('#registrationForm').valid()) {
                var data = $('#registrationForm').serialize();
                stateside.services.signUp.insert(data, stateside.page.registerSuccess, stateside.page.registerError);
            }
        }
        stateside.page.registerSuccess = function(){
            console.log("register success");
            setTimeout(function () {
                window.location.href = "/home/login";
            }, 4000);
        }
        stateside.page.registerError = function(){
            console.log("register error");
        }
        stateside.page.initializeValidation = function () {
            jQuery.validator.setDefaults({
                debug: true
            });
            $('#registrationForm').validate({
                rules: {
                    "FirstName": { maxlength: 100, required: true },
                    "LastName": { maxlength: 100, required: true },
                    "EmailAddress": { maxlength: 100, email: true }
                }
            });
        }
    </script>
}

