.loginAnchor {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.headerRow {
    margin-right: 0;
    margin-left: 0;
    background-color:#3C3C3C;
    /*margin-bottom:10px*/
}


#wrapper {
    min-height: 100%;
    position: relative;
}

.no-padding-top {
    padding-top: 0;
}

.green-btn {
    background-color: #437353;
    color: #ffffff;
}

.red-btn{
    background-color: #AF473C;
    color: #ffffff
}


.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}


#hamburger {
   /*background: #437353 !important;*/

}


.header-layout {
   background: #437353 !important;

}